html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.container {
    flex-direction: column;
    max-width: 450px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

img {
    border-radius: 15px 15px 0 0;
    /* background: inherit; */
}

.order_summary {
    /* flex-direction: column; */
    padding: 0 2em;
    /* width: inherit; */
    font-weight: 900px;
    height: 350px;
    border-radius: 0 0 15px 15px;
}

.statement {
    padding: 0 1.5em;
    margin-bottom: 1.5em;
}

p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 900;
    font: size 2em;
    color: hsl(225, 8%, 29%);
    padding: 0 20px;
    border-bottom: 0px;
}

h3 {
    font-size: 16px;
    color: hsl(225, 8%, 29%);
    margin: 0%;
}

.info_button {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 15px;
    background: hsl(225, 100%, 98%);
    height: 70px;
    border-radius: 15px;
}

.info_button img {
    size: 48px;
    padding: 12px 0;
    margin-left: 1.5em;
}

.button_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48;
    margin-right: 70px;
}

.price {
    margin: 0;
    padding-top: 5px;
}

.change_order {
    max-width: 100px;
    display: flex;
    justify-content: right;
    height: 48px;
    padding: 10px 0;
}

.change_order a {
    padding: 15px 0;
}

.payment_button {
    display: flex;
    background-color: hsl(245, 75%, 52%);
    justify-content: center;
    height: 50px;
    margin-top: 1.5em;
    margin-bottom: 12.5px;
    border-radius: 15px;
    box-shadow: 0px 15px 10px hsl(225, 100%, 90%);
}

.payment_button p {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.cancel_button {
    margin: 1.3em 0;
}

.cancel_button a {
    color: hsl(224, 23%, 55%);
}

.change_order a:hover {
    text-decoration: none;
}

.payment_button:hover {
    background-color: hsl(241, 90%, 61%);
}

.cancel_button a:hover {
    font-weight: 550;
    color: hsl(225, 8%, 29%);
}

@media screen and (max-width:425px) {
    .container {
        max-width: 85%;
    }
    body {
        background-image: url("pattern-background-mobile.svg");
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
}
